@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,300;0,400;1,400&display=swap");

* {
  font-family: "JetBrains Mono", monospace;
  box-sizing: border-box;
  color: white;
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
}

nav {
  display: flex;
  background-color: #184e77;
  flex-direction: row-reverse;
  height: 10vh;
}

a {
  text-decoration: none;
  height: 20px;
  margin: 20px;
}

a:hover {
  color: #b5e48c;
}

.content {
  display: flex;
  flex-direction: row;
}

.form-container,
.card-container {
  height: 90vh;
  width: 50vw;
  /* border: 1px solid black; */
}

.form-container {
  display: flex;
  flex-direction: column;
  float: left;
  background-color: #168aad;
}

.card-container {
  display: inline-block;
  background-color: #52b69a;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

input {
  margin-bottom: 5%;
  width: 200px;
  height: 25px;
  padding: 10px;
}

label {
  margin-bottom: 5px;
}

.button-submit {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  width: 100px;
  height: 30px;
  background-color: #d9ed92;
  color: #000;
  border: 1px solid #000;
  border-radius: 10px;
  cursor: pointer;
}

.button-submit:hover {
  background-color: #000;
  color: #fff;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

h4 {
  margin-bottom: 20px;
}

input {
  color: #000;
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
  width: 100vw;
  background-color: #d3d6d0;
}

.home-tittle {
  color: #000;
  font-size: 50px;
  margin-bottom: 50px;
}

.home-container p {
  color: #000;
  font-size: 20px;
  text-align: center;
  
}