@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');

* {
  font-family: 'Cutive Mono', monospace;
  box-sizing: border-box;
  background-color: #343bb9;
  color: white;
  margin: 0;
  padding: 0;
}


body {
  width: 100vw;
  height: 100vh;
}


header {
  width: 100%;
  height: 50px;

}


nav {
  display: flex;
  background-color: #d71b1b;
  flex-direction: row-reverse;
  height: 100%;
}


a {
  margin: 0 10px;
  text-decoration: none;
  height: 20px;
}


.content {
  background-color: aqua;
  width: 70vw;
}